:root{
  --offWhite-color : #efefef;
  --offBlack-color : #181918;
}
body{
  background-color: var(--offBlack-color);
  position : relative;
  margin : 0;
}
/*Products page*/
#smaller-wrapper{
  display : flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top :70px;
  width: 100%;
  z-index: -1;
}
.product{
  background-color:var(--offWhite-color);
  padding : 20px;
  border : var(--offBlack-color) solid 1px;
  border-radius: 20px;
  margin : 10px;
  height : 90vh;
  width : 43%;
  display : flex;
  gap : 1px;
  flex-direction: column;
  position : relative;
  top : 20px;
  overflow: hidden;
}
h1{
  position : fixed;
  font-size: 70px;
  color : var(--offWhite-color);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -7px;
  padding : 0;
  margin : 5px;
}
h2{
  padding : 0;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -5px;
  bottom : 35%;
}
h3{
  font-size : 50px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -2px;
  bottom : 30%;
}
#description{
  font-family: 'Roboto', sans-serif;
  bottom : 25%;
}
.discount{
  font-size : 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -2px;
  bottom : 10%;
}
.price{
  font-size : 60px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -2px;
  bottom : 15%;
}
.moreinfo{
  font-family: 'Roboto', sans-serif;
  letter-spacing: -2px;
}
.rating{
  font-size: 30px;
  bottom : 5%;
}
.category{
  font-size: 30px;
  top : 2%;
}
.stock{
  bottom : 2%;
  letter-spacing: -1px;
}
.info{
  margin : 0;
  flex : 1;
  max-width: 100%;
  box-sizing : border-box;
  position : absolute;
}
.thumbnail{
  display : none;
}
.buy{
  bottom : 5%;
  color : black;
  right : 10px;
}
.atc{
  bottom : 2%;
  color : black;
  right : 10px;
}
.gallery{
  display : grid;
  place-items: center;
  margin : 10px;
  height : 600px;
}
.image-container{
  height : 550px;
  width : 42vw;
  display : flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin : 0px;
  top : 7%;
}
.slides{
  width : auto;
  height : auto;
  object-fit : cover;
}
.slides img{
  width : auto;
  height : 400px;
}
.image-container .slides {
  scroll-snap-align: start;
}
.image-container::-webkit-scrollbar{
  display: none;
}
.logo{
  position : absolute;
  font-size: 70px;
}
.header{
  background: #000000;
  height : 9vh;
  width: 100vw;
  position : fixed;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin : 0px;
}
/*search bar for products*/
.myForm{
  position: absolute;
  left : 30%;
  top : 10%;
}
.myForm input[type="text"]{
  height: 40px;
  width : 400px;
  background: var(--offBlack-color);
  color : var(--offWhite-color);
  border : none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  font-size: 20px;
  padding : 5px 15px;
  border-radius: 15px;
}
.Button{
  color : var(--offWhite-color);
  background-color: var(--offBlack-color);
  border : none;
  margin : 10px;
  height: 50px;
  padding: 5px 15px;
  font-size: 20px;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}
/*Navigation for products pages*/
a{
  color : var(--offWhite-color);
  font-style: none;
  text-decoration: none;
  padding : 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin : 5px;
}
a.navBar{
  position : absolute;
  left : 50vw;
}
a.topNav{
  right : 5px;
  font-size: 40px;
  position : fixed;
}
a.next{
  position : fixed;
  right : 5px;
  bottom : 5px;
}
a.next:hover,a.prev:hover{
  background-color: #000000;
  border-radius: 15px;
}
a.prev{
  position : fixed;
  left : 5px;
  bottom : 5px;
}
.index{
  color : var(--offWhite-color);
  left : 0;
  position: fixed;
  top : 70px;
  font-size: 40px;
  margin : 15px 5px;
  padding : 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
/*Home page*/
.para{
  color : white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin : 20px;
  position : relative;
  letter-spacing: -2px;
  line-height: 1;
}
.paraOne{
  top : 150px;
}
.paraTwo{
  top : 200px;
}
#homeHeading{
  font-size: 100px;
  margin : 20px;
  position : absolute;
}
#productList{
  color : var(--offWhite-color);
  margin : 20px;
  position : absolute;
  top : 400px;
  left : 70vw;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}
.intro {
  position : absolute;
  top : 200px;
  left : 50px;
}
.tag{
  color : var(--offWhite-color);
  position: absolute;
  top : 150px;
  display : inline;
  right : 300px;
}
/*About*/
.paraAbout{
  top : 120px;
}
/*Contacts*/
.paraContacts{
  top : 120px;
}
.navBarHome{
  display : flex;
  flex-direction: row;
  justify-content: center;
  position : absolute;
  right : 20px;
  top : 15px;
  list-style-type: none;
}
.navBarHome .navlink{
  margin : 20px;
  color : var(--offWhite-color)
}
.navBarHome .navlink:hover{
  background-color:var(--offBlack-color);
  border-radius: 15px;
}
.navBarHome .homeLink:hover{
  background-color: #000000;
  border-radius: 15px;;
}